/*Liste 2
  
  #wrapper {
    width: 80%;
    margin: auto;
  }
  
  /* Top Bar 
  .top-bar {
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 22px;
    font-size: 18px;
    color: gray;
  }
  
  .material {
    position: relative;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  
  .material .material-back {
    background: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: block;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .material:active .material-back {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  
  .material .icon {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .top-bar .icon {
    font-size: 16px;
  }
  
  .top-bar .icon:not(:last-child) {
    padding-right: 22px;
  }
  
  .top-bar #share {
    font-size: 11px;
    opacity: 0.5;
  }
  
  .top-bar #share .text {
    margin-left: 3px;
  }
  
  /* Header
  header {
    height: 350px;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  }
  
  header .title {
    font-size: 42px;
  }
  
  header .date {
    font-size: 11px;
    color: gray;
  }
  
  .location {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    width: 100%;
  }
  
  .location .icon {
    color: tomato;
  }
  
  .location .place {
    margin: 0 6px;
    color: gray;
  }
  
  /* Gallery - the only code needed to build the gallery 
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: auto;
  }
  
  .gallery .gallery-item {
    height: inherit;
    max-width: 100%;
    background: gray;
    border: 2px solid white;
    background-size: cover;
    background-position: center top;
  }
  
  .gallery .gallery-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }
  
  .gallery .gallery-item img {
    height: auto;
    width: 100%;
    max-height: 300px;
    width: auto;
    visibility: hidden;
  }
  
  /* Fancy stuff for the gallery
  .gallery-item {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .gallery-item:focus {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .gallery-item:before,
  .gallery-item:after {
    position: absolute;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0;
  }
  
  .gallery-item:hover:before,
  .gallery-item:hover:after {
    opacity: 1;
  }
  
  .gallery-item:before {
    content: "";
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.15),
      rgba(255, 215, 0, 0)
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(255, 215, 0, 0)
    );
  }
  
  .gallery-item:after {
    font-family: fontawesome;
    font-size: 20px;
    color: white;
    content: "\f058";
    top: 25px;
    left: 25px;
  }
  
  .gallery-item:focus:after {
    color: #42a5ff;
  }
  
  /* Headers 
  section.heading {
    padding: 62px 0;
    font-size: 20px;
    text-align: center;
    color: gray;
  }
   ende list2 */









/*GAllery 2
		#masonry {
			column-count: 2;
			column-gap: 1em;
		  }
		  
		  @media(min-width: 30em) {
			#masonry {
			  column-count: 3;
			  column-gap: 1em;
			}
		  }
		  
		  @media(min-width: 40em) {
			#masonry {
			  column-count: 4;
			  column-gap: 1em;
			}
		  }
		  
		  @media(min-width: 60em) {
			#masonry {
			  column-count: 5;
			  column-gap: 1em;
			}
		  }
		  
		  @media(min-width: 75em) {
			#masonry {
			  column-count: 6;
			  column-gap: 1em;
			}
		  }
		  
		  .item {
			background-color: none;
			display: inline-block;
			margin: 0 0 1em 0;
			width: 100%;
			cursor: pointer;
		  }
		  
		  .item img {
			max-width: 100%;
			height: auto;
			width: 100%;
			margin-bottom: -4px;
			
			
		  }
		  
		  .item.active {
			animation-name: active-in;
			animation-duration: 0.7s;
			animation-fill-mode: forwards;
			animation-direction: alternate;
		  }
		  
		  .item.active:before {
			content: "+";
			transform: rotate(45deg);
			font-size: 48px;
			color: white;
			position: absolute;
			top: 20px;
			right: 20px;
			background-color:rgba(0,0,0,0.85);
			border-radius: 50%;
			width:48px;
			height:48px;
			text-align:center;
			line-height:48px;
			z-index:12;
		  }
		  
		  .item.active img {
			animation-name: active-in-img;
			animation-duration: 0.7s;
			animation-fill-mode: forwards;
			animation-direction: alternate;
		  }
		  
		  
		  @keyframes active-in {
			0% {
			  opacity:1;
			  background-color:white;
			}
			
			50% {
			  opacity:0;
			  background-color:rgba(0,0,0,0.90);
			}
			
			100% {
			  opacity: 1;
			  position:fixed;
			  top:0;
			  left:0;
			  right:0;
			  bottom:0;
			  background-color:rgba(0,0,0,0.90);
			}
		  }
		  
		  @keyframes active-in-img {
			0% {
			  opacity:1;
			  transform:translate(0%, 0%);
			  top: 0;
			  left: 0;
			  max-width: 100%;
			}
			49% {
			  opacity:0;
			  transform: translate(0%, -50%);
			}
			50% {
			  position:absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -100%);
			}
			100% {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 90%;
			width: auto;
			max-height: 95vh;
			opacity:1;
			}
            }
        */
     
    
        .clr{
          clear:both;
        }
        a{
          color:#fff;
          text-decoration:none;
        }
        a.more_link{
          color:#EF1010;
          text-decoration:none;
          font-size:10px;
          text-transform:uppercase;
          font-family:'Droid Sans', Arial, sans-serif;
          font-style:normal;
          cursor: pointer;
        }
        a.more_link:hover{
          border-bottom:1px dotted #ddd;
        }
        
        h1{
          font-size:80px;
          text-transform:uppercase;
          text-shadow:0px 0px 1px rgba(0,0,0,0.8);
        }
  
        .fancy{
          font-family:'Ovo', 'Georgia', Baskerville, "Hoefler Text", Garamond, serif;
        }
        .block .fancy{
          font-size:18px;
        }
    
        p.subline{
          font-family:'Droid Sans', Arial, sans-serif;
          line-height:20px;
          font-size:11px;
          text-transform: uppercase;
          letter-spacing: 4px;
          font-style:normal;
        }
        .block{
          float:left;
          background:#fff;
          padding:20px;
          width:260px;
        }
        .block-small{
          width:160px;
        } 
        .block-medium{
          width:174px;
        }
        .block h2{
          font-size: 15px;
          text-transform: uppercase;
          background: #222;
          color: white;
          padding: 2px 5px;
          margin-top: 3px;
        }
        .block p{
          font-style:italic;
          line-height:20px;
          padding-bottom:5px;
          font-size: 12px;
        }
        .block p.subline{
          margin:10px 0px;
          font-style:normal;
        }
        .block img{
          border:none;
          display:block;
        }
        .project-descr{
          display:none;
        }

        .thumbs-wrapper{
          overflow:hidden;
          position:relative;
        }
        .thumbs img{
          object-fit: contain;
          width: 100%;
          height: 280px;
        }
        .thumbs-nav span{
          position:absolute;
          width:22px;
          height:40px;
          font-family: 'FontAwesome';
          content:"\f105";
          top:50%;
          left:5px;
          margin-top:-20px;
          cursor:pointer;
          text-indent:-9000px;
          display:none;
        }
        .thumbs-nav span.thumbs-nav-next{
          left:auto;
          right:5px;
          background-position:top right;
        }
        .thumbs-nav span.thumbs-nav-prev:hover{
          background-position:bottom left;
        }
        .thumbs-nav span.thumbs-nav-next:hover{
          background-position:bottom right;
        }
        .intro p{
          display: -webkit-box;
          margin: 0 auto;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }







        .overlay {
          background: rgba(0, 0, 0, 0.75);
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          height: 100%;
          padding: 60px 15px 15px;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 9999999;
        }
        
        .overlay .box {
          background: #fff;
          -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
          overflow: hidden;
          padding: 20px 20px 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 90%;
          max-width: 1000px;
        }
        
        .overlay-close {
          float: right;
        }