@import "~assets/variables.scss";

        .clr{
          clear:both;
        }
       
        a.more_link{
          text-decoration:none;
          font-size:10px;
          text-transform:uppercase;
          font-family:'Droid Sans', Arial, sans-serif;
          font-style:normal;
          cursor: pointer;
        }
        a.more_link:hover{
          border-bottom:1px dotted #ddd;
          text-decoration: none;
        }
        
        h1{
          font-size:80px;
          text-transform:uppercase;
          text-shadow:0px 0px 1px rgba(0,0,0,0.8);
        }
  
        .fancy{
          font-family:'Ovo', 'Georgia', Baskerville, "Hoefler Text", Garamond, serif;
        }
        .block .fancy{
          font-size:18px;
        }
    
        p.subline{
          font-family:'Droid Sans', Arial, sans-serif;
          line-height:20px;
          font-size:11px;
          text-transform: uppercase;
          letter-spacing: 4px;
          font-style:normal;
        }
        .block{
          float:left;
          padding:20px;
          width:260px;
        }
        .block-small{
          width:160px;
        } 
        .block-medium{
          width:174px;
        }
        .block h2{
          font-size: 15px;
          text-transform: uppercase;
          background: $highlight-color;
          color: $dark-color;
          padding: 2px 5px;
          margin-top: 3px;
        }
        .block p{
          font-style:italic;
          line-height:20px;
          padding-bottom:5px;
          font-size: 12px;
        }
        .block p.subline{
          margin:10px 0px;
          font-style:normal;
        }
        .block img{
          border:none;
          display:block;
        }
        .project-descr{
          display:none;
        }

        .thumbs-wrapper{
          overflow:hidden;
          position:relative;
        }
        .thumbs img{
          object-fit: contain;
          width: 100%;
          height: 280px;
        }
        .intro p{
          display: -webkit-box;
          margin: 0 auto;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }







        