<div (click)="unSelectMovie()" *ngIf="movieSelected" class="overlay">
    <div class="box container">
      <a  class="overlay-close">Close</a>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12">
    <img class="detail_cover_img" *ngIf="movie" src="{{posterUrl}}/{{movie?.poster_path}}" alt="{{movie?.title}} poster" align="left"
    />
  </div>
  <div class="col-lg-6 col-md-12">
    <h2 class="title">{{movie?.title}}</h2>
    <br>
    <p>release date : {{movie?.release_date}}</p>
    <br>
    <p>
      {{movie?.overview}}
    </p>
    <br>
    
    <br>
    <img [src]="'https://image.tmdb.org/t/p/w342' + movie?.backdrop_path" onError="this.src='/assets/img/movies/no-found.jpg'"
    />
    <br>
    <br>
    <div class="row">
      <div class="col-lg-5">
        <p>Actors :</p>
        <br>
        <div *ngFor="let actor of movie.credits; let i= index">
          <p *ngIf="i<=10">{{actor.name}}</p>
        </div>
      </div>
      <div class="col-lg-7 ">
        <p>Character :</p>
        <br>
        <div *ngFor="let actor of movie.credits; let i= index">
          <p *ngIf="i<=10">{{actor.character}}</p>
        </div>
      </div>
    </div>
    <br>
    <p>vote count : {{movie?.vote_count}} / vote average : {{movie?.vote_average}} / popularity : {{movie?.popularity}}</p>
  </div>


</div>
</div>
</div>