<div id="morphsearch" class="morphsearch" (click)="open=!open" (blur)="open=!open" [ngClass]="{'open': open}">
    <form class="morphsearch-form">
        <input  name="search_input" [(ngModel)]="query" autocomplete="off" (keydown)="goToMovies()" (keyup)="queryChanged()" (focus)="onFocus()"  class="fa fa-search morphsearch-input" type="search" placeholder="Search..."/>
        <button class="morphsearch-submit" type="submit">Search</button>
    </form>
    <div class="morphsearch-content">
        <div class="search-result" *ngIf="cursorInsideInput && query?.length > 0">
            <div *ngFor="let movie of movies$ | async" class="movie" (mousedown)="selectMovie(movie)">
              {{movie.title}}
            </div>
          </div>
    </div>
</div>

