<div id="morphsearch" class="morphsearch" (click)="open=!open" (blur)="open=!open" [ngClass]="{'open': open}">
    <form class="morphsearch-form">
        <input  name="search_input" [(ngModel)]="query" autocomplete="off" (keydown)="goToSearch()" (keyup)="queryChanged()" (focus)="onFocus()"  class="morphsearch-input" style="font-family: FontAwesome;" type="search" placeholder="&#xF002;"/>
        <button class="morphsearch-submit" type="submit"><i class="fa fa-times-circle fa-2x"></i>

        </button>
    </form>
    <div class="morphsearch-content">
        <div class="search-result" *ngIf="cursorInsideInput && query?.length > 0">
            <div *ngFor="let movie of movies$ | async; let i = index" class="movie" (mousedown)="selectMovie(movie)">
            {{movie.title}}{{movie.name}}
            </div>
          </div>
    </div>
</div>

