<div  class="row">
  <div *ngFor="let movie of movies$ | async | paginate: { itemsPerPage: 20, currentPage: p, totalItems: totalPages} ; let i = index;" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-4">
    <div class="card card-inverse card-info">
      <img (mouseover)="sichtbar[i] =!sichtbar[i]" (click)="selectMovie(movie)" class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500'+ movie.poster_path" onError="this.src='/assets/img/movies/no-found.jpg'">
      <div (mouseleave)="sichtbar[i] =!sichtbar[i]" [hidden]="!sichtbar[i]" class="card-img-overlay">
      <div class="card-block">
        <h4 class="card-title">{{movie.title}}</h4>
        
        <div *ngIf="language_id !== movie.id" class="card-text">
          {{movie.overview}}
        </div>
        <div *ngIf="language_id === movie.id" class="card-text">
            {{overview}}
        </div>
      </div>
      <div class="card-footer">
        <small class="footer_vote">Vote: {{movie.popularity}}</small>
        <button (click)="selectMovie(movie)" class="btn btn-info float-right btn-sm">More</button>
        <button (click)="getOverviewInGerman(movie.id)" class="btn float-right btn-info btn-sm">deu</button>
      </div>
    </div>
  </div>
  
</div>
<div class="paginate col-md-12 justify-content-center">
<pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
</div>
</div>


<div class="details" *ngIf= "movieSelected">
  <app-movie-details></app-movie-details>
</div>